.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-size-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  min-width: 300px;
  position: relative;
}

input {
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-size: var(--font-size);
  border-radius: 12px;
  cursor: text;
}

input:active,
input:focus {
  outline: 1px solid lightskyblue;
}

button {
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-size: var(--font-size);
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
}

button:active {
  border: 1px solid gray;
}

.input-unit {
  display: grid;
  grid-template-columns: 5rem 5rem;
  align-items: center;
  gap: 0.5rem;
}

.input-unit input {
  width: auto;
}

.random-generation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#generate-random {
  background-color: #dee7ff;
}

#choose-holes-amount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.config-board-grid {
  display: grid;
  grid-template-rows: auto, auto, auto;
  grid-template-columns: auto, auto, auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  gap: 2rem;
}

.config-board-grid > * {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.select-field-size {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.side-part {
  padding: 3rem 2rem;
}

.choose-holes-menu {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-players {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.start-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
}

#start-button {
  background-color: rgb(188, 188, 188);
  width: 8rem;
}

#clear-button {
  background-color: #ffe0e0;
}

.select-players > * {
  display: flex;
  gap: 1rem;
  align-items: center;
}
