.board-frame {
  background-color: lightblue;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.board {
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.numbers {
  display: flex;
  flex-direction: row;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.letters {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.numbers-two {
  display: flex;
  flex-direction: row;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.letters-two {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.coord {
  width: var(--cell-size);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: var(--cell-size);
  aspect-ratio: 1;
  border: 1px solid black;
}

.clickable {
  width: var(--cell-size);
  aspect-ratio: 1;
  position: absolute;
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--move-clr);
  border: 1px solid black;
}

.circle {
  width: calc(var(--cell-size) - 2px);
  margin-top: 1px;
  margin-left: 1px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.white {
  background-color: lightyellow;
}

.black {
  background-color: darkslategrey;
}

.potential-hole {
  cursor: pointer;
}

.potential-hole:hover {
  background-color: var(--potential-hole-clr);
}

.hole-creating-mode {
  cursor: pointer;
}

.hole {
  background-color: var(--hole-clr);
}

.possible-move {
  --margin-coef: (1 - var(--possible-move-size-coef)) / 2;
  width: calc(var(--cell-size) * var(--possible-move-size-coef));
  margin-top: calc(var(--cell-size) * var(--margin-coef));
  margin-left: calc(var(--cell-size) * var(--margin-coef));
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  background-color: var(--move-clr);
}
